body {
  color: #222;
  font-family: sans-serif;
  margin-right: auto;
  margin-left: auto;
  padding-right: 3rem;
  padding-left: 3rem;
  max-width: 768px;
}

header {
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

.title {
  color: rgb(127, 0, 238);
}

a {
  color: rgb(127, 0, 238);
  text-decoration: none;
}

.font-base {
 font-family:Georgia,serif
}
.font-display {
 font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
}
.font-mono,
.post-header ol li:before,
.text-content ol li:before {
 font-family:SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}

.navigation a {
  color: rgb(0, 0, 0);
  outline-offset:-4px
}

.navigation {
 background:var(--glare);
 font-family:SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}
.navigation ul {
 list-style:none;
 display:flex;
 flex-wrap:wrap;
 padding-left: 0;
}
.navigation li {
 display:flex
}

.navigation li:first-child a {
  padding-left: 0;
 }

.navigation a {
 padding:.64rem;
 text-decoration:none
}
.navigation a.current,
.navigation a:hover {
 background:var(--base)
}

.font-mono,
.post-header ol li:before,
.text-content ol li:before {
  font-family:SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace
}

.text-200 {
  font-size:.64rem
}

.badge {
  -webkit-box-decoration-break:clone;
  box-decoration-break:clone;
  --shade: #e7e4dd;
  background:var(--shade);
  padding:.1em .2em;
  font-family:SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-size:.8rem;
  border-radius:4px
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: .05rem;
}

.badges,
.bunch {
  --space:0.75em;
  list-style: none;
  padding-left: 0;
}
.badges>*,
.bunch>* {
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-items:center;
  margin:calc(var(--space)/ 2 * -1);
}
.badges>*>*,
.bunch>*>* {
  margin:calc(var(--space)/ 2)
}
.bunch.nowrap>*,
.nowrap.badges>* {
  flex-wrap:nowrap
}

.active {
  font-weight: bold;
}